/* Colors palette
Logo: #B1F35D
Illustrations: #5FB702
*/


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Generic style */
html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

h1 {
    padding-top: 50px;
    font-size: 40px;
}

button {
    background-color: rgb(185, 249, 88);
    cursor: pointer;
    padding: 15px 25px;
    border: none;
    border-radius: 50px;
    min-width: 150px;
    min-height: 40px;
    max-width: 250px;
}

li {
    cursor: pointer;
}

.h2-grid {
    font-size: 40px;
}

.p-grid {
    font-size: 16px;
}

input {
    margin-bottom: 12px;
}

section {
    margin: 0px 50px 0px 50px;
}

/* Specific styles */

.input-m-width {
    width: 300px;
    height: 30px;
}

.h1-subtitle {
    margin-bottom: 10px;
}


/* Navbar components */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    background-color: rgb(243, 255, 224);
    height: 70px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navbarvalue {
    padding-left: 30px;
}

#navbarlogo {
    width: 140px;
    height: auto;
    cursor: pointer;
}

#navbarbutton {
    border-radius: 5px;
    border: 1px solid rgb(163, 163, 163);
    padding: 10px 15px;
    font-weight: 500;
    background-color: rgb(185, 249, 88);
}


/* Hero section */

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 380px;
}

.searchbar {
    width: 500px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgb(208, 208, 208);
    padding: 0px 20px;
    font-size: 14px;
    margin-bottom: 20px;
}

#herobutton {
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
}

#rowmetrics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #B1F35D;
}

.metricbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
}

.metricbox h4 {
    font-size: 20px;
    margin: 30px 0px 5px 0px;
}

.metricbox p {
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 30px;
}


/* Landing - Grid 1 */
.gridview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    margin: 150px 50px;
}


/* Landing - Mortgage simulator */
.mortgagecalculator {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 20px;
    margin-bottom: 150px;
}

#mortgageform {
    display: flex;
    flex-direction: column;
}

.results {
    display: flex;
    flex-direction: column;
    background-color: #B1F35D;
    border-radius: 30px;
    border: 1px solid gray;
}

#cta-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}